<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="com.ekko.playdetail.ui.PlayDetailActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Eyepetizer" />
    </application>

</manifest>